$lightTextColor: #fff;
$darkTextColor: #7798e5;
$blackTextColor: #000;

$greyTextColor: #888888;

$mainForegroundColor: #56060c;
$mainBackgroundColor: #fcfbee;
$mainHoverColor: #f9a5ab;

$lightBackgroundColor: #f7fbfe;
$optionsDarkBackgroundColor: #248ed2;
$darkBackgroundColor: #1F4788;
$darkGreyBackground: #333;

$warnBackgroundColor: #F9690E;
$alertBackgroundColor: #C3272B;

$greenBackgroundColor: #43ac6a;

$tableBorder: #f7f6f7;

@font-face {
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $mainForegroundColor;
  background-color: $mainBackgroundColor;
  margin:0;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: $mainHoverColor;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $mainBackgroundColor;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: $mainForegroundColor;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: $mainBackgroundColor
}

.dropdown:hover .dropdown-content {
  display: block;
}

.register-Page_checkbox {
  margin-bottom: 1rem;
}

.register-Page_PrimaryButton {
  margin-bottom: 20px;
}

.register-Page_Legal {
  margin-bottom: 20px;
}

.fancymodal .fancymodal-content {
  background-color: $mainBackgroundColor;
}

.ticket-Powerball_Title {
  text-align: center;
  color: $mainForegroundColor;
}

.ticket-Powerball_Chosen {
  color: $mainForegroundColor;
  text-align: center;
}

.ticket-Powerball_Options {
  text-align: center;
  color: $mainForegroundColor;
  background-color: $mainBackgroundColor;
}

.ticket-Powerball_Actions {
  color: $mainForegroundColor;
  text-align: center;
  background-color: $mainBackgroundColor;
}

.fancymodal .fancymodal-content {
  max-width: 350px;
  padding: 0em 1em;
}

.ticket-Numbers_UserSelections {
  margin-bottom: 0rem;
}

.ticket-Numbers {
  margin-bottom: 0rem;
  bgcolor: $mainHoverColor;
}

.ticket-Powerball_NumberRow {
  background-color: $mainHoverColor;
}

.ticket-Powerball_Number {
  color: $mainForegroundColor;
  text-align: center;
}

.sw-LottoNumber_Selected {
  background-color: $mainHoverColor;
  text-align: center;
  border-radius: 50%;
}

.ticket-Powerball_Multiplier {
  color: $mainForegroundColor;
  text-align: center;
}

.sw-LottoNumber_MultiplierSelected {
  background-color: $mainHoverColor;
  text-align: center;
  border-radius: 50%;
}

.hero-heading {
  color: $mainForegroundColor;
  /* Bigger than 1000 */
  @media (min-width: 1000px) {
    font-size: 3.0rem;
  }
  @media (min-width: 750px) {
    font-size: 2.6rem;
  }
  @media (min-width: 550px) {
    font-size: 2.4rem;
  }
  @media (min-width: 550px) {
    font-size: 2.4rem;
  }
}

.tracking-Numbers {
  color: $mainForegroundColor;
}

.tracking-Numbers_TableHeader {
  color: $mainForegroundColor;
}

.tracking-Numbers_Title {
  color: $mainForegroundColor;
  text-align: center;
}

.history-Numbers_Title {
  color: $mainForegroundColor;
  text-align: center;
}

.history-Numbers_TableHeader {
  color: $mainForegroundColor;
}

.history-Numbers_TableBody {
  color: $mainForegroundColor;
}

.terms-Main {
  color: $mainForegroundColor;
}

.privacy-Main {
  color: $mainForegroundColor;
}

.admin-Main {
  color: $mainForegroundColor;
}

.moment-picker td {
  color: $mainForegroundColor;
}

.moment-picker th {
  color: $mainForegroundColor;
}

.account-Options {
  padding-left: 10px;
}

.account-Profile {
  .account-Profile_Label {
    color: $mainForegroundColor;
  }
  .account-Profile_Textbox {
    color: $mainForegroundColor;
  }
}

.account-Security_Textbox {
  color: $mainForegroundColor;
}

.settings-Details {
  /* Bigger than 550 */
  @media (min-width: 550px) {
    margin-left: 0px;
  }
}

.sw-VisibleOnDarkBackground {
  color: $mainForegroundColor;
}

.sw-Feedback_Textbox {
  color: $mainForegroundColor;
  background: $mainBackgroundColor;
  border-radius: 2px;
  display: inline-block !important;
  margin: 1rem;
  position: relative;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

// REDO Everything below this line
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $mainBackgroundColor;
  background-color: transparent;
}


ul.topnav li a {
  display: inline-block;
  color: $mainForegroundColor;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  background-color: $mainHoverColor;
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.button, button, li {
  margin-bottom: 0rem;
}

.card-input_lottonumber {
  color: $mainForegroundColor;
  background: $mainBackgroundColor;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 300px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card_login {
  color: $mainForegroundColor;
  background: $mainBackgroundColor;
  border-radius: 2px;
  display: inline-block !important;
  margin: 1rem;
  position: relative;
  width: 300px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card_register {
  color: $mainForegroundColor;
  background: $mainBackgroundColor;
  border-radius: 2px;
  display: inline-block !important;
  margin: 1rem;
  position: relative;
  width: 300px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.sw-superscript {
  font-size: 25px;
  color: $greyTextColor;
}

.sw-CheckNumbers {
  color: $mainForegroundColor;
}

.values {
  background-color: $mainForegroundColor;
  background-size: cover;
  color: $mainBackgroundColor;
  padding-bottom: 5rem;
}

.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100%;
  font-weight: normal;
  margin-bottom: 1.25rem;
  position: absolute;
  top: 0;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  font-size: 0.8125rem;
  background-color: $mainHoverColor;
  border-color: $mainHoverColor;
  color: $lightTextColor;
  box-shadow: 0px 1px 5px 0 $darkGreyBackground;
}
.alert-box.success {
  background-color: $greenBackgroundColor;
  border-color: $greenBackgroundColor;
  color: $lightTextColor;
  text-align: center;
  font-size: 20px;
}

.alert-box.info {
  background-color: $optionsDarkBackgroundColor;
  border-color: $optionsDarkBackgroundColor;
  color: $lightTextColor;
  text-align: center;
  font-size: 20px;
}

.alert-box.warn {
  background-color: $warnBackgroundColor;
  border-color: $warnBackgroundColor;
  color: $lightTextColor;
  text-align: center;
  font-size: 20px;
}

.alert-box.alert {
  background-color: $mainHoverColor;
  border-color: $mainHoverColor;
  color: $lightTextColor;
  text-align: center;
  font-size: 20px;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 2rem 0 11rem;
  }
  .hero {
    color: $mainForegroundColor;
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    color: $mainForegroundColor;
  }
  .section {
    padding: 2rem 0 15rem;
  }
  .hero {
    padding: 2rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 4rem 0 19rem;
    height: 250px;
  }
  .hero {
    color: $mainForegroundColor;
    padding: 4rem 0;
  }
}

.tracking-Numbers_Table {
  width: 100%;
  margin: 0em 2.5em;
}

.history-Numbers_Table {
  width: 100%;
  margin: 0em 2.5em;
}

.admin-Feedback_Table {
  width: 100%;
  //margin: 0em 2.5em;
}

.admin-Options {
  padding-left: 10px;
}

.admin-Escalations {
  margin: 0px;
}